.set-exam-page{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.set-exam-outer-box{
    margin-left:1vw;
    margin-right: 1vw;
    margin-top: 10vh;
    height: auto;
    width: 96vw;
    background-color: rgb(218, 237, 247);
    border: 8px solid rgb(199, 198, 198);
    border-radius: 10px;
    box-shadow: 3px 3px 5px inset gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5.5vh;
    padding-bottom: 5.5vh;
}
.course-choice{
    display:flex;
    align-items: center;
    justify-content: center;
    width:20vw;
    height:6vh;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 3px 3px inset #85858a;
    margin-bottom: 2vh;
    margin-left: 1vw;
}
.set-exam-options-box{
    display: flex;
    width: 324px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 20px;
}
